<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About</title>
    <link rel="icon" href="./img/home.jpg">
    <link rel="stylesheet" href="./CSS/styles.css">
</head>

<body>
    <div class="main-content">
        {{>header}}
        <img src="./img/Sohan.jpg" class="image" alt="">
    </div>
    <p class="about-p">Hi, I am Sohan Jambhule ,Passionate learner and budding developer .Currently Pursuing Electrical Engineering 
        at College of Engineering,Pune. I love to Design and Develop application which will add new tech to the world.
        <br>
        <strong>This is a weather application ,where you can see your current weather by just entering current city name.</strong>
    </p>

    {{>footer}}
</body>

</html>